/* 内容 */

body{
    margin: 0;
    font-family: "游明朝", YuMincho,"メイリオ",Meiryo,serif,sans-serif;
    margin-top: 100px;
}

header{
    display: flex;
    align-items: center;
}

.topic{
    text-align: center;
    font-size: 100px;
    width: 690px;
}

a{
    text-decoration: none;
}

body{
    text-align: center;
}

.mail{
    padding-top: 100px;
}

#mail{
    padding-top: 20px;
}

#icon-mail{
    font-size: 40px;
}

.insta{
    padding: 50px;
}

.post{
    width: 200;
    height: 200;
}

.back{
    text-decoration: none;
    font-size: 25px;
    padding-bottom: 50px;
}

.back a{
    color: black;
}

@media (min-width: 0px) and (max-width: 599px) {
    .logo{
        padding: 25px;
        top: 0;
    }.topic{
        padding-top: 100px;
    }
    .place img{
        width: 100%;
        height: 100%;
    }
    .back,.info{
        font-size: 4vw;
    }
}