.e-past{
    margin-top: 150px !important;
    margin-bottom: 50px;
}

.slideShow {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 650px;
}

.slideShow ul.imgWrap {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
}

.slideShow ul.imgWrap li {
    display: none;
    width: 100%;
    list-style-type: none;
    border: initial;
}

.slideShow ul.imgWrap li img{
    width: 70%;
    height: 14em;
    border-radius: 4px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.slideShow ul.imgWrap li.is-show {
    display: block;
    animation: slideAnime 300ms ease-out 0ms 1 normal both;
}

@keyframes slideAnime {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.slideShow ul.imgWrap li img {
    width: 100%;
    text-align: center;
}

.slideShow button {
    display: block;
    position: absolute;
    border: none;
    background: none;
    color: orange;
    cursor: pointer;
    font-size: 3.3em;
    outline: none;
    transition: transform 200ms;
}

.slideShow button.btn-prev {
    left: 10%;
    /* transform: rotate( 90deg ); */
    top: 35%;
}

.slideShow button.btn-next {
    right: 10%;
    /* transform: rotate( -90deg ); */
    top: 35%;
}

.footer{
    position: absolute;
}

.schedule{
    padding-bottom: 100px;
}

/* body */

.schedule{
    padding: 100px;
    display: flex;
    justify-content: space-between;
}
.day,.e-name,.place,.time{
    width: 250px;
    text-align: left;
}

.day{
    font-size: 18px;
}

.schedule.e-name{
    font-size: initial !important;
    width: 300px !important;
    line-height: inherit;
}

.time p{
    padding-bottom: 7px;
}

.smp{
    display: none;
}

@media (min-width: 0px) and (max-width: 949px) {
    .schedule{
        display: none;
    }
    .smp{
        display: inline;
    }
}
@media (min-width: 0px) and (max-width: 599px) {
    .logo{
        padding: 25px;
        top: 0;
    }.topic{
        padding-top: 100px;
    }
    .back{
        font-size: 4vw;
    }
}

button:hover{
    opacity: .5;
}